* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Raleway', Arial, Verdana, Halvetica sans-serif;
}

.color {
     color: #24BA9F;
}

.wrapper {
     width: 1055px;
     margin: 0 auto;
}

.flex-Y-center {
     display: flex;
     align-items: center;
}

.flex-X-space-between {
     display: flex;
     justify-content: space-between;
}

.main_header {
     width: 100%;
     height: 40px;
     background: #000;
     color: #fff;
     font-size: 16px;
     /*position: relative;*/
}

.header__logo a {
     text-decoration: none;
     color: #fff;
}

.header__logo a span {
     font-weight: 700;
}

nav > ul {
     display: flex;
     justify-content: flex-start;
     list-style: none;
}

nav > ul > li:not(:last-child) {
     margin-right: 60px;
}

.menu > li:hover {
     color: #24B99E;
     cursor: pointer;
}

#menu_company {
     position: relative;
}

/*.rectangle {*/
/*width: 400px;*/
/*height: 400px;*/
/*background-color: #23BA9D;*/
/*position: absolute;*/
/*}*/

/*--------------------SUB MENU*/

/*div with submenu*/
#sub_container {
     display: none;
     width: 120px;
     height: 130px;
     position: absolute;
     top: 34%;
     left: 50%;
     padding-top: 34px;
     transform: translate(-50%, 0);
}

#submenu_company {
     height: 100%;
     list-style: none;
     color: white;
     font-size: 15px;
     padding-left: 13px;
     padding-top: 7px;
     padding-bottom: 6px;
     background-color: black;
     /*padding: 10px;*/
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     position: relative;
     box-shadow: 0 0 10px 2px #0000008f;
}

/*Triangle arrow on top of the submenu*/
#submenu_company::after {
     content: "";
     width: 0;
     height: 0;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-bottom: 10px solid black;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translate(-50%, -100%);
     /*top: -20px;*/
}

#submenu_company li:hover {
     color: #23BA9D;
}

/*--------------------------------------SLIDER SECTION-----------------*/

.animation-slideIn-left{
     animation: slideInLeft 2s 0s 1 linear;
}

.animation-slideOut-right{
     animation: slideOutRight 2s 0s 1 linear;
}


.hide{
     display: none;
}

@keyframes slideOutRight {
     100%{
          transform: translate(185px);
     }
}

@keyframes slideInLeft {
     0%{
          transform: translate(-185px);
     }
     100%{

         transform: translate(0);
     }
}



section.slider {
     margin-top: 50px;
     height: 400px;
     background: rgba(255, 255, 255, 1);
     background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(246, 246, 246, 1) 72%, rgba(181, 181, 181, 1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(4%, rgba(255, 255, 255, 1)), color-stop(72%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(181, 181, 181, 1)));
     background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(246, 246, 246, 1) 72%, rgba(181, 181, 181, 1) 100%);
     background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(246, 246, 246, 1) 72%, rgba(181, 181, 181, 1) 100%);
     background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(246, 246, 246, 1) 72%, rgba(181, 181, 181, 1) 100%);
     background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 4%, rgba(246, 246, 246, 1) 72%, rgba(181, 181, 181, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b5b5b5', GradientType=0);
}

.arrow {
     align-self: center;
     font-size: 80px;
     font-weight: 300;
}

.arrow:hover {
     cursor: pointer;
}

/*#black-chair {*/
     /*display: block;*/
/*}*/


/*#red-chair {*/
     /*display: none;*/
/*}*/

/*#orange-chair{*/
     /*display: none;*/
/*}*/



.slider_pic_container {
     max-width: 377px;
     max-height: 377px;
     height: 377px;
     width: 377px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.slider__text__content {
     width: 440px;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
}

.slider__text__content p {
     font-size: 45px;
     font-weight: 400;
     text-align: center;
     padding-bottom: 0;
     padding-top: 50px;
}

.slider__text__content p span {
     font-weight: 700;
}

.slider__text__content article {
     font-size: 17px;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
}

.slider__button {
     width: 300px;
     height: 60px;
     font-size: 25px;
     color: white;
     background-color: #24BA9F;
     border-radius: 15px;
     outline: none;
     box-shadow: none;
     /*align-self: center;*/
}

/*--------------------------------------- CHAIR TO CHOOSE SECTION -----------------*/
.chair__list {
     width: 100%;
     background: #fff;
     height: 350px;
}

.chair__dimensions {
     width: 329px;
     height: 225px;
     position: relative;
     font-weight: 600;
}

.chair1 {
     background-image: url("../images/box1_img.jpg");
     background-size: cover;
}

.chair2 {
     background-image: url("../images/box2_img.jpg");
     background-size: cover;
}

.chair__bright__bar {
     background-color: rgba(255, 255, 255, 0.36);
     width: 100%;
     height: 61px;
     position: absolute;
     bottom: 14px;
}

.chair__bright__bar p {
     padding: 15px 0 0 20px;
}

.chair__bright__bar p:after {
     width: 138px;
     height: 6px;
     content: '';
     background: #24BA9F;
     position: absolute;
     top: 36px;
     left: 20px;
}

.chair__text__right {
     width: 329px;
     height: 255px;
     border: 1px solid #d8d7b7;
}

/*----------------------------------------------PRICES SECTION ----------------------------*/

section.prices {
     width: 100%;
     height: 725px;
     background: #F0F0F0;

}

/*---------------------PRICE BOX LEFT*/
.price__box {
     width: 330px;
     height: 500px;
     background: #F8F8F8;
     border: 2px solid #C1C1C1;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     /*justify-content: space-around;*/
}

.price__box:before {
     width: 53px;
     height: 53px;
     background: #C1C1C1;
     border-radius: 50%;
     box-shadow: inset 0 0 0 13px white;
     content: '';
     position: absolute;
     border: 2px solid #C1C1C1;
     top: -35px;
     left: 137px;
}

.box__title {
     padding-top: 32px;
}

.price__circle {
     width: 125px;
     height: 125px;
     border: 2px solid #C1C1C1;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     color: #C1C1C1;
     margin-top: 32px;
     /*justify-content: center;*/

}

/*--------------inside price circle*/
.price__text {
     font-size: 48px;
     font-weight: 800;
     display: flex;
     padding-top: 12px;
     padding-left: 4px;

}

.num_down {
     /*font-size: 35px ;*/
     padding-top: 5px;
}

.cents_up {
     font-size: 15px;
     padding-top: 5px;
}

.price__per__month {
     padding-top: 8px;
     font-size: 15px;
     font-weight: 700;
}

.box__title {
     color: #24BA9F;
     font-size: 25px;
}

/*-------------Cards---*/
.card {
     width: 100%;
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #959595;
     font-size: 21px;
}

.shop_card {
     background-color: #E3E3E3;
     margin-top: 36px;
}

.service_card {
     background: #f1f1f1;
}

.price__box__btn {
     width: 120px;
     height: 35px;
     background: #24BA9F;
     border-radius: 10px;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 100px;
     position: absolute;
     bottom: 20px;
}

.price__box__btn:hover{
     cursor: pointer;
     filter: brightness(105%);
}

/*----------------------------------------PRICE BOX MIDDLE*/
.price__box.middle {
     background: #26C3A7;
     border: 2px solid #26C3A7;
}

.price__box.middle .box__title {
     color: #fff;
}

.price__box.middle .price__circle {
     border: none;
     color: #24BA9F;
     background: #F8F8F8;
}

.price__box.middle .price__text {
     color: #24BA9F;
}

.price__box.middle:before {
     border: 2px solid #26C3A7;
     background: #F6F8F8;
     box-shadow: inset 0 0 0 13px #26C3A7;
}

.price__box.middle .shop_card, .price__box.middle .warranty {
     background: #FDFDFE;
}

.price__box.middle .price__box__btn {
     background: #FDFDFE;
     color: #26C3A7;
}

/*-----------RIGHT BOX*/
.right .warranty {
     background: #E3E3E3;
}

.right .advices {
     background: #f1f1f1;
}

/*---------------------------------------CALCULATOR SECTION*/

/*---------------------CUSTOM CHECKBOX*/

[type="checkbox"] {
     display: none;
     position: absolute;
     opacity: 0;
}

[type="checkbox"] + label {
     position: relative;
     cursor: pointer;
     line-height: 40px;
     color: #B1B1B1;
     font-size: 23px;
}

[type="checkbox"] + label::before {
     content: "";
     margin-right: 20px;
     display: inline-block;
     /* sets label text on center level with box*/
     vertical-align: top;
     background: white;
     width: 40px;
     height: 40px;
     border: 1px solid rgba(46, 172, 145, 0.6);
     border-radius: 4px;
}

[type="checkbox"]:hover + label::before,
[type="checkbox"]:hover + label::after {
     filter: brightness(95%);
}

[type="checkbox"]:checked + label::after {
     content: "";
     position: absolute;
     width: 35px;
     height: 35px;
     top: -4px;
     left: 1px;
     background-size: cover;
     background-image: url("../images/form_ok.jpg");
}


.application {
     background-color: #f9f9f9;
     padding: 30px 0;
}

.application .wrapper {
     display: flex;
     justify-content: center;

}

.application h3 {
     color: #575757;
     font-size: 18px;
}

.application header.align_right {
     text-align: right;
}

.inline {
     display: inline-block;
     width: 300px;
     padding: 14px;
     vertical-align: top;
}

.form {
     margin-top: 50px;
}

.drop_down_list {
     border: 1px solid #8de0d2;
     width: 280px;
     height: 38px;
     background-color: white;
     margin-top: 22px;
     padding: 8px 12px;
     position: relative;
}

.list_label {
font-size: 20px;
color: #e2e2e2;
font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.inline_text {
     display: inline-block;
     width: 228px;
     vertical-align: top;
     margin-top: 30px;
     margin-left: 15px;
     color: #aeaeae;
}

.image_part img {
     margin-top: 110px;
     /*margin-left: 38px;*/
}

.application .green_bell {
     background-color: #24baa0;
     width: 200px;
     height: 6px;
     display: inline-block;
     margin: 5px 0 5px 0;
}

.summary_panel {
     background-color: white;
     width: 100%;
     height: 195px;
     padding: 10px;
     margin-top: 50px;

}

.summary_part.inline {
     width: 320px;
}

.application .green_button {
     background-color: #27c7ab;
     color: white;
     text-align: center;
     text-transform: uppercase;
     width: 200px;
     padding: 10px 30px;
     font-size: 24px;
     display: inline-block;
     font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
     margin-top: 20px;
     margin-left: 29px;
     border-radius: 8px;
     text-decoration: none;
}

.panel_left {
     display: inline-block;
     width: 185px;
     vertical-align: top;
     padding-bottom: 10px;
     border-bottom: 1px solid #bfc7bf;
     height: 135px;
}



.panel_right {
     display: inline-block;
     width: 80px;
     border-left: 1px solid #bfc7bf;
     text-align: right;
     vertical-align: top;
     padding-bottom: 10px;
     border-bottom: 1px solid #bfc7bf;
     height: 135px;
}

.panel_left h4, .panel_right h4 {
     color: #24baa0;
     font-size: 21px;
     font-weight: 400;
}

.panel_left span {
     margin-top: 10px;
     font-size: 18px;
     color: #5b5a5a;
     display: block;
}

.panel_right span {
     display: block;
     font-size: 20px;
     color: #24baa0;
     margin-top: 10px;
}

.sum_label {
     display: inline-block;
     width: 185px;
     margin-top: 10px;
     font-size: 22px;
     color: #5b5a5a;
}

.sum {
     display: inline-block;
     width: 81px;
     text-align: right;
     margin-top: 10px;
     font-size: 22px;
     color: #24baa0;
}

.list_arrow {
     width: 0;
     height: 0;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-top: 15px solid #24baa0;
     display: block;
     position: absolute;
     right: 14px;
     top: 20px;
     cursor: pointer;
     transform: scale(0.8);
}

.list_panel {
     background-color: white;
     border: 1px solid #ccc;
     width: 288px;
     padding-left: 15px;
     padding-bottom: 10px;
     list-style: none;
     margin: 0;
     left: 0;
     z-index: 2;
     position: absolute;
     top: 54px;
     display: none;
}

.list_panel li:hover {
     background-color: rgba(48, 217, 190, 0.1);
}

.list_panel li {
     margin-top: 10px;
     cursor: pointer;
     color: #585858;
}

.title {
     height: 30px;
}

/*-------------------------------------------------CONTACT SECTION-------*/

section.contact {
     height: 545px;
     background: #fff;
}

#contact_title {
     color: #525252;
     margin-top: 36px;
     font-size: 20px;
     font-weight: 400;
     position: relative;
}

#contact_title::after {
     content: "";
     position: absolute;
     background: #23BA9D;
     width: 300px;
     height: 8px;
     left: 0;
     bottom: -15px;
}

.contact .form_container {
     width: 100%;
     margin-top: 46px;
     display: flex;
}

/*left side form - inputs*/
.form_container .form {
     width: 55%;
}

/*All placeholders of form (section contact) style*/
.form [placeholder]::placeholder {
     padding-left: 15px;
     font-size: 20px;
     /*color: #C8C8C8;*/
     color: rgba(39, 198, 170, 0.5);
}

.form input {
     width: 100%;
     height: 60px;
     border: 1px solid rgba(39, 198, 170, 0.4);
     margin-bottom: 25px;
     font-size: 20px;

}

#message {
     width: 100%;
     height: 185px;
     margin-bottom: 0;
     overflow: auto;
     border: 1px solid rgba(39, 198, 170, 0.4);
     font-size: 20px;
}

/*textarea placeholder - somethin was not right with general upwards style for all*/
#message::placeholder {
     font-size: 22px;
     padding-top: 10px;
}

/*right side accept terms*/

.contact .right_side {
     margin-left: 40px;
     width: 45%;
}

.contact .chair_pic {
     margin-left: 30px;
}

.check_line {
     margin-top: 30px;
     /*width: 300px;*/
}

.right_side .btn {
     width: 320px;
     height: 60px;
     border-radius: 10px;
     background: #24B99E;
     color: #fff;
     margin-top: 30px;
     margin-left: 15px;
}

.btn p {

     font-size: 30px;
     font-weight: 700;
     line-height: 60px;
     text-align: center;
}

.btn:hover{
     cursor: pointer;
     filter: brightness(110%);
}

/*-------------------------------------------------Footer*/
footer {
     width: 100%;
     height: 100px;
}

footer .wrapper {
     display: flex;
}

footer p {
     font-size: 16px;
     font-weight: 400;
     color: #979797;
     padding-top: 15px;

}

.icon_bar {
     margin-left: 340px;
}

.icon_bar img:hover {
     filter: brightness(110%);
     transform: scale(1.1);
     cursor: pointer;
}

footer .sit {
     font-size: 20px;
     font-weight: 500;
     margin-left: 55px;
}

.sit span {
     font-weight: 700;
}



/*--------------*/
/*.price__box.middle .price__box__btn:hover{*/
/*background: #CACACB;*/
/*color: white;*/
/*}*/

/*TO DO
1.0 Finish boxes
1. Change button - make it without focus border, highlitning when cursor on
2. Silder - when arrow pressed change picture of chair
3.
*/